.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search-input {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #40bcf4; /* Голубая обводка */
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14px;
    width: 300px;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #ff8000; /* Оранжевая подсветка */
  }
  
  .search-button {
    background-color: #00e054;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #ff8000;
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центрирование по всей высоте экрана */
  }
  